.git
.gitignore
.env
.env.example
.dockerignore
Dockerfile
docker-compose.yml
docker/
node_modules/
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
tests/
README.md
composer.lock
package-lock.json
yarn.lock 